body {
    padding: 25px;
    z-index: -1;
   background-color: #0d68df;
   background-image: url("tyler.jpg");
   background-size: cover;

}

cards  {
    border: 25px solid rgba(0, 0, 0, 0.2);
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(to right bottom, #d80d83, #e6416c, #e9675f, #e4885f, #dda56e);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    opacity: .9;
}

#artistSearchedFor{
    width: auto;
}

.main-nav {
    list-style-type: none;
    display: none;
    padding-bottom: 25px;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto Condensed', sans-serif;

}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;

}

#card-body {
    
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 154px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/******************main body******************/

* {
    box-sizing: border-box;
}
body {
    margin: 1em;
    font: 1.2em/1.3em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #fff;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 50px;
}
p {
    margin: 0 0 1em 0;
    color: black;
    background-image: linear-gradient(to right bottom, #0dacd8, #00c5d5, #00daaf, #60e86f, #cfeb12);
    border:5px solid rgb(17, 145, 219)
}


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(89, 94, 100);
    border-radius: .3rem;
    border-top: 10px;
    border-top-width: white 10px;
    opacity: .7;
   
}

.similar-artist-button {
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #d80d83, #e6416c, #e9675f, #e4885f, #dda56e);
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.display-4 {
    font-size: 3.7rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Permanent Marker', cursive;
    color: #66FFFF;
}

#main {
   margin: 0;
   padding: 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row;
   flex-flow: row;
}
.bg-primary {
    background-image: linear-gradient(to right bottom, #0dacd8, #00c5d5, #00daaf, #60e86f, #cfeb12);
}

.ticketmaster {
    /* border:  */
}

header,
footer,
#main > article,
#main > aside,
#main > aside {
   margin: 4px;
   padding: 1em;
   margin-left: 120px;
   margin-right: 120px;
}
 
#main > article {
   background: #c66;
   -webkit-flex: 4 1 0;
           flex: 4 1 0;
   -webkit-order: 2;
           order: 2;
}

#main > aside,
#main > aside {
   background: #c66;
   -webkit-flex: 1 6 0;
           flex: 1 6 0;
}
#main > aside {
   -webkit-order: 1;
           order: 1;
}
  
#main > aside {
   -webkit-order: 3;
           order: 3;
}
 
header, footer {
   display: block;
   min-height: 80px;
}


header {
    background-image: linear-gradient(to left bottom, #3221e3, #a900b8, #d10091, #df4277, #dd6e6e);
}

.concertimg {
    width: 100%;
}


 
/* Too narrow to support three columns */
  @media all and (max-width: 1280px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
}

   #main > article, #main > aside, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > aside, #main > aside, header, footer {
    min-height: 50px;
  
   }

   header {
       margin: auto 0;
   }
}

.hidden {
    display: none;

}
